.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

#form {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -15px;
}

#form input,
#form button {
  height: 60px;
  font-size: 40px;
  margin: 0 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#form button {
  padding: 0 30px;
  background-color: rgb(76, 150, 129);
}

ul {
  font-size: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid #000;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between; /* botón a la derecha */
  align-items: center;
  white-space: normal;
  word-break: break-word;
}

li:last-child {
  border-bottom: none;
}

#buttonList {
  font-size: 40px;
  background-color: rgb(181, 36, 36);
  padding: 10px 20px;
  margin: 0 30px;
  float: right;
  border-radius: 100px;
  flex-shrink: 0;
}

.errorMessage {
  font-size: 40px;
  color: black;
  background-color: rgb(210, 47, 47);
  padding: 4px 30px;
  margin-bottom: -20px;
}

#listContainer {
  margin-top: 100px;
  background-color: aliceblue;
  border-radius: 20px;
  min-width: 1400px; /* ancho mínimo */
  width: auto; /* ancho automático según contenido */
  max-width: 80vw; /* máximo 80% del viewport */
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow-wrap: break-word;
}

li button {
  font-size: 40px;
  background-color: rgb(181, 36, 36);
  padding: 4px 10px;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
}
