html {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2.625rem;
}

#form {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: -0.5625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(65, 108, 177);
  padding: 1.3125rem 1.875rem;
  border-radius: 0.75rem;
  border: 0.075rem solid black;
}

#form input,
#form button {
  height: 2.25rem;
  font-size: 1.5rem;
  margin: 0 0.375rem;
  box-sizing: border-box;
  border-radius: 0.375rem;
}

#form button {
  padding: 0 1.125rem;
  background-color: rgb(21, 160, 158);
  cursor: pointer;
}

ul {
  font-size: 1.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 0.0375rem solid #000;
  padding: 0.5625rem 0.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: normal;
  word-break: break-word;
}

li:last-child {
  border-bottom: none;
}

.dateMessage {
  color: rgb(126, 126, 126);
  font-size: 1.125rem;
  margin-top: 0.375rem;
}

.errorMessage {
  font-size: 1.125rem;
  color: black;
  background-color: rgb(210, 47, 47);
  padding: 0.15rem 1.125rem;
  margin-bottom: -0.375rem;
  text-align: center;
}

#listContainer {
  margin-top: 1.875rem;
  background-color: aliceblue;
  border-radius: 0.75rem;
  min-width: 37.5rem;
  width: 80%;
  max-width: 52.5rem;
  padding: 0.75rem;
  box-sizing: border-box;
  overflow-wrap: break-word;
  border: 0.075rem solid black;
}

@media (max-width: 37.5rem) {
  #listContainer {
    width: 90%;
    min-width: unset;
  }
}

.checkBox,
.buttonList,
.editButton {
  background-color: transparent;
  border: none;
  padding: 0.1875rem 0.375rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.375rem;
}

.checkBox:hover,
.buttonList:hover,
.editButton:hover {
  color: #4c9681;
}

.buttonGroup {
  display: flex;
  gap: 0.375rem;
}

@media (max-width: 75rem) {
  #listContainer {
    width: 80%;
    min-width: unset;
  }
}

@media (max-width: 37.5rem) {
  #listContainer {
    width: 90%;
    padding: 0.5625rem;
  }

  #form {
    flex-direction: column;
    font-size: 1.125rem;
  }

  #form input,
  #form button {
    width: 100%;
    font-size: 0.75rem;
    height: 1.6875rem;
    margin: 0.1875rem 0;
  }

  li {
    font-size: 0.75rem;
    padding: 0.375rem 0.1875rem;
  }

  .buttonList,
  .editButton {
    font-size: 0.9375rem;
    padding: 0.1125rem 0.1875rem;
  }
}

.completedTask {
  text-decoration: line-through;
  color: gray;
}
