/* General container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

/* Form */

#form {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -15px;
  display: flex;
  flex-wrap: wrap; /* se ajusta si pantalla pequeña */
  justify-content: center;
  background-color: rgb(65, 108, 177);
  padding: 35px 50px;
  border-radius: 20px;
  border: 2px solid black;
}

#form input,
#form button {
  height: 60px;
  font-size: 40px;
  margin: 0 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#form button {
  padding: 0 30px;
  background-color: rgb(21, 160, 158);
  cursor: pointer;
}

/* List  */

ul {
  font-size: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid #000;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: normal;
  word-break: break-word;
}

li:last-child {
  border-bottom: none;
}

.dateMessage {
  color: rgb(126, 126, 126);
  font-size: 30px;
  margin-top: 10px;
}

/* Error message  */

.errorMessage {
  font-size: 30px;
  color: black;
  background-color: rgb(210, 47, 47);
  padding: 4px 30px;
  margin-bottom: -10px;
  text-align: center;
}

#listContainer {
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 20px;
  min-width: 1000px;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  border: 2px solid black;
}

@media (max-width: 600px) {
  #listContainer {
    width: 90%;
    min-width: unset; /* quitamos el mínimo para que se adapte */
  }
}

.checkBox,
.buttonList,
.editButton {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.checkBox:hover,
.buttonList:hover,
.editButton:hover {
  color: #4c9681;
}

/* Buttons group for align correctly */

.buttonGroup {
  display: flex;
  gap: 10px;
}

/* Media queries */

/* Tablets and medium screens */
@media (max-width: 1200px) {
  #listContainer {
    width: 80%;
    min-width: unset;
  }
}

/* Phones */
@media (max-width: 600px) {
  #listContainer {
    width: 90%;
    padding: 15px;
  }

  #form {
    flex-direction: column;
    font-size: 30px;
  }

  #form input,
  #form button {
    width: 100%;
    font-size: 20px;
    height: 45px;
    margin: 5px 0;
  }

  li {
    font-size: 20px;
    padding: 10px 5px;
  }

  .buttonList,
  .editButton {
    font-size: 25px;
    padding: 3px 5px;
  }
}

.completedTask {
  text-decoration: line-through;
  color: gray;
}
